.th-red {
  background-color: #cc0a2f;
}
.th-red-30 {
  background-color: rgba(204, 10, 46, 0.334);
}
.th-red-60 {
  background-color: rgba(204, 10, 46, 0.603);
}
.th-black {
  background-color: #000000;
}
.th-blue {
  background-color: #00bae5;
}
.th-green {
  background-color: #83bb20;
}
.th-orange {
  background-color: #f18400;
}
.mobile-menu-closed {
  display: none;
}

.mobile-menu-open {
  display: block !important;
}

.menu {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.top-100 {
  top: 100%;
}
a {
  outline: 0 !important;
}
.vw-100 {
  width: 100vw;
}

.custom-f2 {
  font-size: 1.8rem;
}
@media screen and (min-width: 23em) {
  .custom-f2 {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 67em) {
  .custom-f-headline-l {
    font-size: 5rem;
  }
  .mascot {
    margin-top: 15rem;
  }
  .overflow-x-hidden {
    overflow-x: hidden !important;
    padding: 0.7em;
  }
}
.max-30 {
  max-height: 30px;
}

#bg-video {
  position: fixed;
  top: 38px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  height: 100%;
  width: initial;
}

.vjs-tech {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}
#teaser {
  overflow: hidden;
}
.vjs-poster {
  background-size: cover !important;
}
.mvh-100 {
  min-height: 100vh;
}

.max-vh-80 {
  max-height: 75vh;
}

.tr-link {
  cursor: pointer;
  cursor: hand;
}
